body {

    padding-left: 3%;
    padding-right:3%;
    font-family: 'Arial', sans-serif;
}
label{
    margin-top: 1.5%;
}
.div-vertical-border{
    margin-top: 2%;
    margin-bottom:2%;
}
.centered-title{
    text-align:center;
    margin-top: 2%;
    margin-bottom:2%;
}
.centered-title-sim-section{
    text-align:center;
    margin-top: 5%;
    /*margin-bottom:1%;*/
}
.canvas {
    /*position: relative;*/
    /*overflow: scroll;*/
    border: solid 2px black;
    /*width:*/
    /*min-width:50px;*/
    /*max-width:*/
    /*height:*/
    /*min-height:50px;*/
    height:600px;
}
#js-drop-zone{
    text-align: center;
    vertical-align: middle;
    height:100px;
    line-height: 100px;
    background-color: white;
    outline: 2px dashed black;
    outline-offset: -10px;
    /*visibility:hidden;*/
}
.sim-parameter-section{
    margin-left: 5%;
    margin-right:7%;
}